{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order | BisNest</title>
    <link rel="icon" type="image/png" href="https://imgur.com/FGy6T8S.png">
    <link rel="stylesheet" href="{% static 'css/centralStyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/orderStyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/centralDarkStyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="{% static 'js/darkMode.js' %}" defer></script>
    <script src="{% static 'js/sidebar.js' %}" defer></script>
    <script src="{% static 'js/order.js' %}" defer></script>
</head>

<body>

    {% include 'sidebar.html' %}

    <main class="main-content">

        {% include 'header.html' with page="Order Management" %}

        <div class="container">
            <div class="search-bar">
                <input type="text" id="searchInput" placeholder="Search Customer Name:" onkeyup="searchCustomer()">
                <select id="productFilter" onchange="searchCustomer()" class="filter-select">
                    <option value="">All Products</option>
                    {% for product in products %}
                    <option value="{{ product }}">{{ product }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="order-table-container">
                <div class="table-wrapper">
                    <table class="table" id="order-table">
                        <thead>
                            <tr>
                                <th>Order ID </th>
                                <th>Customer Name<button id="orderIdSortBtn" class="sort-btn"
                                        title="Sort by customer name"><i class="fas fa-sort"></i></button></th>
                                <th>Employee Name</th>
                                <th>Product Name</th>
                                <th>Amount</th>
                                <th>Date <button id="orderDateSortBtn" class="sort-btn" title="Sort by date"><i
                                            class="fas fa-sort"></i></button></th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="orders-body">
                            <tr>
                                <td colspan="6" style="text-align:center;">Loading...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pagination-container" id="order-pagination" aria-label="Order table pagination"></div>
        </div>
    </main>

</body>

</html>